<ion-header-bar class="bar-positive">
        <h1 class="title">TENTANG PEMBUAT</h1>
</ion-header-bar>

<ion-view view-title="Halaman Dashboard Utama">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">About Halaman!</div>
      <div class="item item-body">
        <div>
          Modul Teknologi Bergerak <b> By Syahrul Rahmayuda</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Sistem Informasi </div>
      <div class="item item-body">
        <div>
          Menggunakan Ionic Framework 1.1.1
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Contanct</div>
      <div class="item item-body">
        <div>
          Email<b> yudarahma@gmail.com</b> tahun 2016 Sumber referensi Github
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
